body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.firstmain {
    background-image: url(backg.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.top-right-buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#loginButtonL,
#signInButtonS {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

#loginButtonL:hover,
#signInButtonS:hover {
    background-color: rgb(182, 32, 32);
}

.meanqee {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.meanqee i {
    font-size: 2.4rem;
    color: #fff;
    color: #ff0000;
}

.headmeanqee {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5vh;
}

#foodContainer {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    padding: 60px 30px; 
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color: #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

#foodList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px; 
    margin-top: 20px; 
}

.foodItem {
    background: #f5f5f5;
    border-radius: 15px; 
    padding: 20px; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.foodItem img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 15px; 
}

.foodItem h3 {
    font-size: 1.6rem; 
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

.foodItem p {
    font-size: 1rem; 
    color: #666;
    margin-bottom: 15px;
}

.foodItem:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 768px) {
    #foodList {
        grid-template-columns: repeat(2, 1fr); 
    }

    #foodContainer {
        padding: 50px 15px;
    }

    .foodItem {
        padding: 20px; 
    }

    .foodItem h3 {
        font-size: 1.4rem; 
    }

    .foodItem p {
        font-size: 1rem; 
    }
}

@media screen and (max-width: 480px) {
    #foodList {
        grid-template-columns: 1fr; 
    }

    #foodContainer {
        padding: 40px 10px; 
    }

    .foodItem {
        padding: 15px; 
    }

    .foodItem h3 {
        font-size: 1.2rem; 
    }

    .foodItem p {
        font-size: 0.9rem; 
    }
}


.imagecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.imageitem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.imageitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.imageitem img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .imagecontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .imagecontainer {
        grid-template-columns: 1fr;
    }
}

#imageSlider {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imageSliders {
    display: flex;
    transition: transform 3s ease-in-out;
}

#imageSliders img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.slider {
    transition: transform 0.5s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.btnclick {
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Arial', sans-serif;
}

.btnclick:hover {
    background-color: #fc2f2f;
    transform: translateY(-3px);
}

.food-item {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.food-item img {
    max-width: 500px;
    border-radius: 5px;
}

.food-item h3 {
    font-size: 24px;
    color: white;
    margin: 0;
}

.food-item p {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}

.food-item button {
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.food-item button:hover {
    background-color: #fc2f2f;
}


.cart {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart h3 {
    margin: 0;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    margin: 5px 0;
}

.cart button {
    background-color: #28a745;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart button:hover {
    background-color: #218838;
}


.food-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.food-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.food-item button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.food-item button:hover {
    background-color: #0056b3;
}

#youtube {
    width: 100%;
    height: 50vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 30vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2slMjBiYWNrZ3JvdW5kJTIwZm9yJTIwbG9naW4lMjBmb3IlMjBmb29kfGVufDB8fDB8fHww);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="email"],
input[type="password"] {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #065b0e;
    outline: none;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d1a;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}

.signup-head {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.differ {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgb(118, 12, 12);
}
.rating { display: flex; }
    .star { font-size: 30px; cursor: pointer; color: #ccc; }
    .star.selected { color: gold; }